.my-input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.my-input input{
    width: 100%;
    max-width: 650px;
    border: none;
}
span.search-btn{
    background: var(--color-principal);
}
.my-input a{
    display: flex;
}