@import '../../sass/main';

li.repositories{
    h3{
        @include tipo-1( 35);
        color: $color-principal;
        margin: 0 0 5px 0;
        font-weight: 400;
    }
    p{
        @include tipo-1( 20);
        margin: 0;
        font-weight: 300;
    }
    & > div{
        color: $color-dark-grey;
        margin-bottom: 25px;
        font-weight: 300;
    }
}