@import '../../sass/main';

.result{
    &.layout{
        display: grid;

        grid-template-columns: 340px auto ;
        grid-template-rows: 120px auto;

        grid-template-areas:
            'q1 q2'
            'q3 q4';

        @include d( s ){
            grid-template-columns: 1fr ;
            grid-template-rows: 75px 75px auto auto;

            grid-template-areas:
                'q1' 'q2' 'q3' 'q4';
            
        }
    }
    ul{
        margin: 0;
        padding: 0 30px;
        width: 100%;

        @include d( s){
            margin-top: 50px;
        }
    }
    div.mesage-not-found, div.loader{
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        justify-content: center;
        p{
            margin-top: 60px;
            @include tipo-1(40);
            color: $color-principal;
        }
        @include d( s){
            grid-area: 3 / 1 / 4 / 2;
            p{
                @include tipo-1(35);
            }
        }
    }
}


div.logo-area{
    grid-area: q1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include d(s){
        justify-content: flex-end;
    }
}

div.search-area{
    grid-area: q2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include d(m){
        padding: 0 30px;
    }
    @include d(s){
        justify-content: flex-start;
    }
}

div.property-area{
    grid-area: q3;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        margin-top: 30px;
    }
}

div.repository-area{
    grid-area: q4;
    display: flex;
    flex-direction: column;
    align-items: center;
}



